@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1><br />


<h1>Hi!</h1>
<h3>My name is Chentao Jin, I am smart and handsome, worldwide handsome!</h3>
<div>
    <br /><hr /><h3>Author:</h3>
    <ul>Chentao Jin 040914490</ul>
    <ul>Ruipeng Zhao 040917850</ul>
</div>
